html,body{
    height: 100%;
    background: rgb(84, 8, 134);
    background: linear-gradient(5deg, rgba(139,30,168,1) 30%, rgba(218,69,152,1) 80%);
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
}


.form-signin{

    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto; 
}

.form-signin .form-control{
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin input[type="text"]{
    margin-bottom: -1px;
}

.form-signin input[type="password"]{
    margin-bottom: -1px;
}

.container-fluid{
    background: white;
    height: auto;
    width: 100vw;
    max-width: 500px;
    align-items: center;
    border-radius: 5%;
}


#test{
    margin-top: 60px;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    
}